$headings-color: #20387d;
$main-bg-color: #f3f3f3;
$aside-font-color: #ffffff;
$aside-bg-color: #2c3861;
$content-font-color: #000000;
$notification-bg-color: #2358ae;
$current-user-bg-color: #2b87c9;