* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1.2s ease-in-out;
}

html,
body {
    // height: 100%;
    font-family: 'Open Sans';
    color: $content-font-color;
    background-color: $main-bg-color;
}

.wrapper {
    // height: 100%;
    display: flex;
    // margin: 0 2px;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    width: 100%;
    cursor: pointer;
}

h1,
h2 {
    font-family: 'Nunito';
    font-weight: 600;
    color: $headings-color;
    // line-height: 60px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.burger {
    position: relative;
    width: 23px;
    height: 100%;
    margin-right: 20px;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        background-color: $burger-color;
        position: absolute;
        width: 23px;
        height: 2px;
    }

    &::before {
        top: calc(50% - 10px);
    }

    &::after {
        top: 50%;
    }

    span {
        position: absolute;
        width: 23px;
        height: 2px;
        background-color: $burger-color;
        top: calc(50% - 5px);
    }
}

.hidden {
    display: none;
}