.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include underline-content(#9e9e9e20);
    padding-bottom: 0;

    &__item {
        display: flex;
        align-items: flex-start;
    }
}

.header__item {
    &--back {
        height: 24px;
        width: 19px;
        background: url(../assets/icon/leaf-arrow-icon.png) no-repeat;
        margin: 18px 8px;
    }

    &--add-book {
        height: 24px;
        width: 24px;
        background: url(../assets/icon/single-book-icon.png) no-repeat;
        margin: 18px 8px;
    }

    &--add-all {
        height: 24px;
        width: 24px;
        background: url(../assets/icon/group-book-icon.png) no-repeat;
        margin: 18px 8px;
    }

    &--find {
        height: 24px;
        width: 160px;
        border: 1px solid #000000;
        border-radius: 1px;
        background-color: $main-bg-color;
        margin: 18px 8px;
        padding: 0 10px;
    }

    &--info {
        height: 24px;
        width: 24px;
        border: 1px solid $content-font-color;
        font-size: 18px;
        font-weight: 600;
        border-radius: 50%;
        margin: 15px 8px;
    }

    &--show {
        height: 56px;
        width: 40px;
        background: url(../assets/icon/show-logo.png) 50% 50% no-repeat;
        margin: 0 8px;
    }

    &--clicked {
        background-color: #c6c6c6;
    }

    &--notification {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../assets/icon/bell-logo.png) 50% 50% no-repeat;
        background-color: $notification-bg-color;
        border: 1px solid white;
        border-radius: 50%;
        margin: 16px 8px 10px;


        .bell {
            position: absolute;
            width: 18px;
            height: 18px;
            top: -11px;
            right: -5px;
            border: 1px solid #f7f7f7;
            border-radius: 50%;
            background-color: #c03030;
            color: #ffffff;
            font-family: "Nunito";
            font-size: 12px;
            line-height: 20px;
        }
    }

    &--current-user {
        width: 30px;
        height: 30px;
        background-color: $current-user-bg-color;
        border-radius: 50%;
        color: white;
        margin: 15px 8px 8px;
    }
}

.subheader {
    &--hidden {
        display: none;
    }

    &__container {
        display: flex;
        align-items: center;
        @include underline-content(#9e9e9e20);
    }
}

.subheader__logo {
    &--calendar {
        @include sprite(50px, 21px, calc(50% + 10px), -110px);
        filter: invert(0);
    }

    &--reports {
        @include sprite(50px, 21px, calc(50% + 10px), -385px);
        filter: invert(0);
    }

    &--staff {
        @include sprite(50px, 19px, calc(50% + 10px), -339px);
        filter: invert(0);
    }

    &--tasks {
        @include sprite(50px, 23px, calc(50% + 10px), -311px);
        filter: invert(0);
    }
}

.reminders {
    width: 278px;
    min-height: 355px;
    box-shadow: 0 4px 10px rgba(124, 124, 124, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 23px 34px 23px 24px;

    // &__heading {}

    &__raw {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 29px 0px;
    }

    &__text {
        width: 162px;
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 300;
        color: $content-font-color;
    }

    &__link {
        width: 19px;
        height: 16px;
        background: url(../assets/icon/leaf-arrow-icon.png) no-repeat;
        transform: rotateY(180deg);
    }
}

.info {
    width: 100%;
    // width: 751px;
    // min-height: 503px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(124, 124, 124, 0.2);

    &__form {
        td {
            width: 50%;
            max-width: 250px;
            color: #000000;
            font-size: 16px;
            line-height: 60px;
            overflow-wrap: normal;
            overflow: hidden;
        }
    }

    &__table {
        width: 90%;
        margin: 22px 25px;
    }

    &__title {
        width: 100%;
        @extend h2;
        text-align: left;
        padding-left: 25px;
    }

    // &__list {
    //     @include underline-content(#9e9e9e20);
    // }

    &__tfoot {

        .input--title,
        .input--text {
            border: 1px solid #2e2e2e;
        }
    }

    &__row {
        height: 48px;

        td {
            padding-left: 49px;
        }

        &:nth-child(even) {
            background-color: #f5f5f5;
        }
    }
}

.btn {
    &--print {
        @include sprite(24px, 22px, -5px, -286px);
        filter: invert(0);
    }

    &--download {
        @include sprite(24px, 22px, -5px, -213px);
        filter: invert(0);
    }

    &--edit {
        @include sprite(18px, 22px, -5px, -238px);
        filter: invert(0);
    }

    &--add {
        @include sprite(20px, 22px, -5px, -63px);
        filter: invert(0);
    }

    &--cancel {
        width: 83px;
        height: 38px;
        font-family: Arial;
        font-size: 16px;
        color: #2e2e2e;
        border-radius: 1px;
        border: 1px solid #2e2e2e;
        background: none;
        margin: 0 10px;
    }

    &--save {
        width: 106px;
        height: 38px;
        font-family: Arial;
        font-size: 16px;
        color: #ffffff;
        border-radius: 1px;
        background-color: #3d963c;
        margin: 0 10px;
    }
}

// .timeline {

//     &__title {
//         width: 251px;
//         display: flex;
//         justify-content: space-between;
//         // font-size: ;
//         background-color: white;
//         padding: 15px;

//     }
// }